	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">Articles</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/posts/">日志</a></li>
                    <li><a href="{{ site.url }}/yan/">妍小言</a></li>
					<li><a href="{{ site.url }}/shu/">舒小书</a></li>
					<li><a href="{{ site.url }}/haoran/">浩然说</a></li>
					<li><a href="{{ site.url }}/life/">生活日记</a></li>
				</ul>
			</li>
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
